{{define "base"}}
<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset="utf-8">
<title>{{template "title" .}} - Clip Box</title>
</head>
<body>
    <header>
        <h1><a href='/'>Clip Box</a></h1>
    </header>
    <nav>
        <a href='/'>Home</a>
    </nav>
    <main>
        {{template "main" .}}
    </main>
</body>
</html>
{{end}}